/*Variables*/
$color-dark: #324155;
$color-light: #f7f6f4;

$color-one: #c14e20;
$color-twoo: #0097e6;
$color-three: #33d9b2;


$font-loremIpsum: 'Signika', sans-serif;
$font-text:  'Inconsolata', monospace;

$transition: all 1s;

@mixin center-position() {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin box-flex() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-dark;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 96px auto 0 auto;
}

.wrap {
    position: relative;
    @include box-flex();
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    &:hover {
        background-position: 0 100%;
    }
}

.btn_one {
    border-color: $color-light;
    color: $color-light;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
    &:hover {
       color: $color-twoo;
    }
}

.btn_twoo {
    border-color: $color-three;
    color: $color-three;
    background-image: linear-gradient(90deg,$color-three 50%, transparent 50%);
    &:hover {
       color: $color-light;
    }
}

.btn_three {
    border-color: $color-twoo;
    color: $color-twoo;
    background-image: linear-gradient(90deg,$color-twoo 50%, transparent 50%);
    &:hover {
       color: $color-light;
    }
}

.btn_four {
    border-color: $color-one;
    color: $color-one;
    background-image: linear-gradient(90deg,$color-one 50%, transparent 50%);
    &:hover {
       color: $color-light;
    }
}

.btn_five {
    border: none;
    margin: 36px 0;
    padding: 0;
    text-align: left;
    color: $color-one;
}

.title {
    font-size: 48px;
    margin: 0 0 72px 0;
}

.article_title {
    font-size: 24px;
    margin: 0 0 12px 0;
    font-weight: bold;
}

/*Navigation*/

.navigation {
    background-color: $color-twoo;
    padding: 12px 36px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 36px;
            position: relative;

            a {
                text-decoration: none;
                color: $color-light;
                &:hover {
                    color: $color-three;
                }
            }
        }
    }

    li {
        ul{
            display: none;
            li {
                display: block;
                margin-bottom: 12px;
                margin-right: 0;
            }
        }
        &:hover ul {
            display: block;
            text-align: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 12px;
            background: $color-light;
        }
        li a {
            color: $color-twoo;
            padding: 0 24px;
            &:hover {
                color: $color-three;
            }
        }
    }
}

/*Splash*/

.splash {
    background-color: $color-twoo;
    color: $color-light;
    min-width: 500px;
    display: flex;
    min-height: 500px;

    .splash_inner {
        margin: auto;
        max-width: 70%;

        .page_title{
            margin: 0;
            font-size: 72px;
            word-spacing: -24px;
            font-weight: 500;
            line-height: 1.2;

            span {
                font-size: 90px;
                font-weight: 700;
                color: $color-three;
            }
        }

        .page_subtitle {
            margin: 24px 0;
            font-weight: 400px;
            font-size: 16px;
        }
    }
}

/*Our services*/

.box {
    flex: 0 0 33.333%;
    position: relative;
    padding-right: 50px;

    .number {
        position: absolute;
        color: $color-three;
        font-size: 144px;
        line-height: 1;
        opacity: 0.2;
        font-family: $font-loremIpsum;
    }

    p:first-of-type {
        font-weight: bold;
    }
}

/*Our work*/

.our_work {
    flex: 0 0 50%;
    position: relative;
    height: 300px;
    margin-bottom: 90px;
    &:nth-child(2), &:first-child {
        p {
            p:last-of-type {
                font-weight: 700;
            }
        }
    }
}

.image {
    position: absolute;
    width: 45%;
    height: 100%;
    max-width: 250px;
    &:after {
        content: "";
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image-one {
    &:after {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 100%;
        height: 100%;
        background-color: $color-twoo;
        opacity: 0.3;
        transition: transform 300ms ease-in-out;
        pointer-events: none;

    }
    &:hover:after {
        transform: translate(-20px, -20px);
        animation: animate-one 200s ease;
    }
}

@keyframes animate-one {
    1% {opacity: 0;}
    100% { opacity: 1;}
}

.description {
    padding: 36px 0% 36px 55%;
    text-align: left;
}

/*Contact*/

.contact {
    background-color: $color-twoo;
    color: $color-light;
    min-height: 800px;
}
.form-position {
    @include box-flex();
    padding-top: 60px;
}
 form {
    flex: 2 0 0;
    display: block;
    padding-right: 96px;
    .section-title {
        margin: 0;
    }
}
.contact-description {
    flex: 0 0 1;
    font-size: 20px;
    position: relative;
    text-align: left;
}
input, textarea {
    display: inline-block;
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 2px solid $color-light;
    background: transparent;
    color: $color-light;
    height: 60px;
    margin: 5px 0;
    font-size: 15px;
    outline: none;
    &::placeholder {
        color: $color-light;
        font-size: 15px;
    }
}

textarea {
    height: 200px;
}

/*Footer*/

.page-footer {
    color: $color-light;
   margin: 20px 0;
}
.icons {
    display: flex;
    justify-content: center;
    li {
        display: inline-block;
	    width: 15%;
        font-size: 0;
        i {
            font-size: 30px;
            background: $color-one;
            width: 60px;
            height: 60px;
            line-height: 60px;
            color: $color-light;
            border-radius: 50%;
            text-align: center;
            &:hover {
                transform: scale(1.2,1.2);
            }
        }
    }
}

/*Media*/

@media (max-width: 767px) {

    .wrap, .container,  .form-position {
        flex-direction: column;
    }
    .image {
        max-width: 100%;
        height: 500px;
        width: 500px;
        position: relative;
    }
    .container > ul > li {
        margin-right: 20px;
    }
    .splash .splash-inner h1 {
        font-size: 50px;
        word-spacing: 1px;
    }
    .wrap {
        padding: 60px;
    }
    .description {
        padding: 36px 5%;
    }

    article .box:nth-child(2) {
        margin: 96px 0;
    }
    .box, form, .contact-description {
        padding-bottom: 96px;
    }
    .our_work, .our_work:nth-child(2), .our_work:first-child, .wrap {
        margin-bottom: 0;
    }
    .icons li {
        width: 50%;
    }
}